*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

div{
    background-color: black;
    width: 1536px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    padding: 0;
    
}